body
{
	background-color:teal;
}
p
{
	font-family: arial;
	font-size: 24pt;
	color: orange;
}
div
{
	background-color: orange;
	width:99.3%;
	height:200px;
	border: 5px solid black;
	color:black;
	font-family: arial;
	margin-top:50px;
	padding-bottom: 50px; 
}
#one
{
	background-color: black;
	width:99.3%;
	height:200px;
	border: 5px solid orange;
	color:orange;
	font-family: arial;
	margin-top:50px;
}
.commentbox
{

	background-color: white;
	width:99.3%;
	height:200px;
	border: 5px solid black;
	color:black;
	font-family: arial;
	margin-top:50px;
}
.commentbox:hover
{
	background-color:green;
}
*
{
	margin: 0;
	padding: 0;
}
#two
{
	background-color: red;
	width:30%;
	height:100px;
	border: 5px solid orange;
	color:orange;
	font-family: arial;
	float: left;
}
#three
{
	background-color: blue;
	width:30%;
	height:100px;
	border: 5px solid orange;
	color:orange;
	font-family: arial;
	float: right;
}